.header-icon {
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.3rem;
}

div.ant-dropdown-arrow {
    color: red !important;
}

.header-icon:hover {
    background: white;
    border-radius: 100%;
    color: black;
}

.hover-red-children:hover .element-hover-red {
    color: red;
}

.hover-parent:hover .hover-children {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

@media (max-width: 550px) {
    .greet-message {
        display: none;
    }
}
