<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Change Your Password</title>
    <style>
      p,
      th,
      tr {
        font-family: Arial, Helvetica, sans-serif;
      }

      .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }

      .styled-table thead tr {
        background-color: #374151;
        color: #ffffff;
        text-align: left;
        font-weight: 300;
      }
      .styled-table th,
      .styled-table td {
        padding: 12px 15px;
      }

      .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0; width: 100%; height: 100%;">
    <header
      style="text-align: center; background-color: #374151; padding: 10px;"
    >
      <a href={{baseURL}}
        ><img
          style="width: 50px; filter: invert(1);"
          src="https://i.imgur.com/iTD2wI7.png"
          title=""
      /></a>
      <h1 style="color: white; font-weight: 300; font-size: 20px; margin: 0;">
        Digital Menu
      </h1>
    </header>
    <div style="padding: 20px;">
      <p style="font-weight: 600;">
        <span style="font-weight: 100;">Dear</span>, Luciano Alvarez:
      </p>
      <p style="font-weight: 300;">
        Here you have the link for change your password.
        <br />
        <strong style="color: #991b1b;"
          >Remember to keep secret about this information.</strong
        >
      </p>
    <a href={{linkResetPassword}}>{{linkResetPassword}}</a>
    </div>
    <footer
      style="
        font-size: 15px;
        background: #374151;
        margin: 0;
        padding: 1rem;
        text-align: center;
      "
    >
      <p style="color: white; margin: 0; font-style: italic;">
        Digital Menu - All Rights Reserved
      </p>
      <br />
      <div
        style="
          gap: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          text-align:center;
        "
      >
        <p style="margin: 0; color: white;margin-right:10px">
          Made by Luciano Alvarez:
        </p>
        <div style="display: flex; gap: 10px;">
          <a 
          style="margin-right:5px"
          href="www.linkedin.com/in/luciano-alvarez">
            <img
              style="width: 20px; filter: invert(1);"
              src="https://i.imgur.com/UQaTVwq.png"
            />
          </a>
          <a href="https://www.github.com/lcnlvrz">
            <img
              style="width: 20px; filter: invert(1);"
              src="https://i.imgur.com/adS1JTH.png"
            />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
