@tailwind base;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply mb-4;
        @apply font-semibold;
    }
}

@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button.ant-btn.ant-btn-icon-only.ant-input-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-image-preview-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

span.ant-tag.edit-tag.transition-all {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: start;
}

.ant-form-item-control-input-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    align-items: center;
}

.full-w-children > * {
    width: 100%;
}

ul.space-flex > * {
    margin: 0.3rem;
}

svg {
    vertical-align: baseline;
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}
